
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}


body{
  overflow: hidden;
}

h1{
  font-weight: 900;
}